@{
    ViewData["Title"] = "Change Password";
    var success = TempData["success"];
    var error = TempData["error"];
    var id = TempData["id"];
}

<h1>Change Password</h1>

@if (success is not null)
{
    <div class="alert alert-success" role="alert">
        @success
    </div>
}

@if (error is not null)
{
    <div class="alert alert-danger" role="alert">
        @error
    </div>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Change Password</h3>
                </div>
                <div class="card-body">
                    <form action="/User/ChangePassword" method="post">
                        <input name="UserId" value="@id" type="hidden" />
                        <label>Old Password: </label>
                        <input name="OldPassword" class="form-control" required type="password" />
                        <br />
                        <label>New Password: </label>
                        <input name="NewPassword" class="form-control" required type="password" />
                        <br />
                        <label>Confirm Password: </label>
                        <input name="ConfirmPassword" class="form-control" required type="password" />
                        <br />
                        <button type="submit" class="btn btn-outline-primary">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        let id = '@id';

        if (id === "" || id === null) {
            window.location.href = "/User/LoginPage";
        }
    </script>
}