@{
    ViewData["Title"] = "Create Membership Plan";
}

<h1>Create Membership Plan</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Create Membership Plan</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/MembershipPlan/Save">
                        <label>Plan Name: </label>
                        <input type="text" name="PlanName" class="form-control" required />
                        <br />
                        <label>Plan Price: </label>
                        <input type="number" name="Price" class="form-control" required />
                        <br />
                        <button class="btn btn-outline-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
